@import url("palette.css");
body{
    background-color:var(--bg);
    color:var(--fg-txt);
    font-family: Helvetica Mono;
}
a:link {
    color:var(--fg-lnk);
}
a:visited{
    color:var(--fg-lnk-v);
}
nav ul{
    list-style:none;
    text-align:center;
}
nav li{
    display:inline;
    font-size:1.1em;
    padding:10px;
    font-family:"Lucida Console", Monaco, monospace;
    
}
nav li.active{
    border: var(--fg-brd) solid 2px;
}
nav a{
    text-decoration:none;
    
}
article{
    margin:20px 10%;
}
header a {
    text-decoration:dotted !important;
}
#banner{
    font-family:"Lucida Console", Monaco, monospace;
}
